= simple_form_for(@place, multipart: true) do |f|
  - if @place.errors.any?
    #error_explanation
      %h2
        = pluralize(@place.errors.count, "error")
        prohibited this place from being saved:
      %ul
        - @place.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.input :img, input_html: { class: 'form-control'}
    
  .form-group
    = f.input :title, input_html: { class: 'form-control'}

  .form-group
    = f.input :s_description, input_html: { class: 'form-control'}

  .form-group
    = f.input :l_description, input_html: { class: 'form-control'}

  .form-group
    = f.input :cost, input_html: { class: 'form-control'}

  .form-group
    = f.input :address, input_html: { class: 'form-control'}

  .form-group
    = f.input :phone, input_html: { class: 'form-control'}

  .form-group
    = f.input :outdoor, input_html: { class: 'form-control'}

  .form-group
    = f.input :website, input_html: { class: 'form-control'}

  .form-group
    = f.input :min_age, input_html: { class: 'form-control'}

  - if user_signed_in? && current_user.email == "acevedo.oliver@gmail.com"
    .form-group
      = f.input :verified, input_html: { class: 'form-control'}

  .form-group
    = f.input :l_time, input_html: { class: 'form-control'}

  .form-group
 
  = f.button :submit, class: "btn btn-primary"