
<p id="notice"><%= notice %></p>
  <h1>Listing places</h1>
 

 
<div class="container button-group">


<div>
  <button class="button filter" data-filter="all">show all</button>
  <button class="button filter" data-filter=".indoor">indoor</button>
  <button class="button filter" data-filter=".outdoor">outdoor</button>

</div>
<div class="col-xs-1"></div>

<div>
  <button class="button sort" data-sort="myorder:asc">Asc</button>
  <button class="button sort" data-sort="myorder:desc">Desc</button>
</div>
  

  

</div>
  <br>
<div id="Container">
  <% @places.each do |place| %>
      <% if place.outdoor == true %>
    <div class="mix box panels panel-default outdoor" data-myorder="<%= place.title %>">
      <% elsif place.outdoor == false %>
      <div class="mix box panels panel-default indoor" data-myorder="<%= place.title %>"> 
      <% else %>
    <div class="mix box panels panel-default" data-myorder="<%= place.title %>">      
      <% end %>
      <% if place.verified == true %>
        <%= link_to (image_tag place.picture_url), place %>
        <div class="cards">
          <p><%= place.title %></p>
          <div class="col-md-3"></div>
          <div class="col-md-6"></div>
          <div class="col-md-3 cost">
            <% if user_signed_in? == true %>
            <%= number_to_currency(place.cost * current_user.adult) %> 
            <% else %>
            <%= number_to_currency(place.cost) %>
            <% end %>
          </div>
          
          
            <!-- Admin controls 
            <%= link_to 'Show', place %>
            <%= link_to 'Edit', edit_place_path(place) %>
            <%= link_to 'Destroy', place, method: :delete,
                                             data: { confirm: 'Are you sure?' } %> -->
          
        </div>
      <% end %>
    </div>
  <% end %>
</div>
