<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Listing places</h1>
  
  
  
  <% @places.each do |place| %>
  
    <div class="box panel panel-default">
      <div class="panel-body">
      <%= link_to (image_tag place.image.url(:medium)), place %>
      <p><%= place.title %></p>
      <p><%= place.s_description %></p>
      <h2>
      <%= link_to 'Show', place %>
      <%= link_to 'Edit', edit_place_path(place) %>
      <%= link_to 'Destroy', place, method: :delete,
                                       data: { confirm: 'Are you sure?' } %>
      </h2>

      </div>
    </div>
  <% end %>
  
  
  <br>


</div>