<div class="col-md-6 col-md-offset-3">
<p id="notice"><%= notice %></p>


<%= image_tag (@place.picture_url) %>
<p>
  <strong>Title:</strong>
  <%= @place.title %>
</p>

<p>
  <strong>S description:</strong>
  <%= @place.s_description %>
</p>

<p>
  <strong>L description:</strong>
  <%= @place.l_description %>
</p>

<p>
  <strong>Cost:</strong>
  <%= number_to_currency(@place.cost) %>
</p>

<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @place.phone %>
</p>

<p>
  <strong>Outdoor:</strong>
  <%= @place.outdoor %>
</p>

<p>
  <strong>Website:</strong>
  <%= link_to @place.title, @place.website %>
</p>

<p>
  <strong>Min age:</strong>
  <%= @place.min_age %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @place.verified %>
</p>

<p>
  <strong>L time:</strong>
  <%= @place.l_time %>
</p>

<p>
  <strong>Op hours:</strong>
  <%= @place.op_hours %>
</p>

<p>
  <strong>Travel Time:</strong>
  <%= @t_time %>
</p>

<p>
  <strong>Travel Distance:</strong>
  <%= @distance %>
</p>

<div id="map-container">
  <div id="map-canvas"></div>
</div>

<% if user_signed_in? && current_user.email == "acevedo.oliver@gmail.com" %>
  <%= link_to 'Edit', edit_place_path(@place) %> |
<% end %>
  <%= link_to 'Back', places_path %>

</div>